extends layout

block content
  h1= title
  - const cat=['carName', 'carType','carCost','carMileage','carColour']
  - let results;
  script.
    function buy(x){
      alert('You purchased item ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each results, index in cat
        div(class='col-sm-2' onclick='buy('+index+')') #{results} 
        

  
